body {
    background: url("fundo-colorido-de-formularios-sobrepostos_23-2148641174_LE_auto_x2.jpg") no-repeat top center fixed;
    background-size: cover;
}

div::before {
    content: " ברוך הבא חבר";
    text-align: center;
    font: 20pt Arial;
    font-weight: bold;
    color: #ffffff;
    background-color:#6e0b9c;
    padding: 5px;
    display:block;
    position: relative;
    top: -10px;
    left: -10px;
    width: 560px;
}

div {
    background-color: #2f1338 ;
    margin: 100px auto 100px auto;
    padding: 10px;
    width: 550px;
    min-height:300px;
}


a {
    color: #273747;
    text-decoration: none;
    font-weight: bold;
    font: 11pt Helvetica;
}

a:hover {
    text-decoration: underline;
}

span.foco {
    font-weight: bold;
    color: #7e050c;
}
h1{
    color: #e6c1f7;
    text-align: center;
    font: 20pt arial bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #bb5fe6;
}
h2{
    color: #e6c1f7;
    text-align: center;
    font: 17pt Times bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #bb5fe6;
}
h3{
    color: #e6c1f7;
    text-align: left;
    font: 15pt arial ;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #bb5fe6;
}

p{
    color: #e6c1f7;
    text-align: center;
    font: 15pt arial bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #bb5fe6;
}
span{
    font: 10pt arial bold;
    color: #bb5fe6;


}
input{
    font-size: 14pt;
    align-content: center ;

}

button{
    color: #1c522f;
    margin-left: 500px;
    padding: 5px;
    font-size: 10px;

    }
